body.rise-enabled .pydata-orange {
    color: #ed9042;
}
body.rise-enabled .pydata-blue {
    color: #83abb7;
}
body.rise-enabled .pydata-gray {
    color: #677c83;
}
body.rise-enabled .highlight,
body.rise-enabled .highlight * {
    color: #83abb7;
}
body.rise-enabled .huge,
body.rise-enabled .huge * {
    font-weight: bold;
    font-size: 5em;
}
body.rise-enabled h1 {
    font-size: 1.4em;
}
body.rise-enabled h2 {
    font-size: 1.1em;
    color: #ed9042;
}
body.rise-enabled a {
    color: #83abb7 !important;
}
body.rise-enabled thead {
    background-color: #677c83 !important;
}
body.rise-enabled {
    background-color: #555;
}
body.rise-enabled * {
    color: white;
    font-family: 'Domine', serif !important;
}
body.rise-enabled section {
    padding: 20px 50px !important;
}
body.rise-enabled div.inner_cell img {
    max-height: 600px;
    background: none;
}
body.rise-enabled div.inner_cell p,
body.rise-enabled div.inner_cell p *,
body.rise-enabled div.inner_cell table *,
body.rise-enabled div.inner_cell ul * {
    background-color: transparent;
    font-size: 24px;
}
body.rise-enabled #exit_b,
body.rise-enabled #help_b,
body.rise-enabled #notebook div.progress,
body.rise-enabled #notebook aside.controls,
body.rise-enabled #notebook div.slide-number {
    display: none !important;
}
body.rise-enabled #notebook-container::before {
    content: "";
    display: inline-block;
    margin-top: .2em;
    width: 71px;
    height: 150px;
    background-image: url(../static/img/pydata.png);
    background-repeat: no-repeat;
}
body.rise-enabled #notebook-container::after {
    content: "@datapythonista";
    position: fixed;
    bottom: 1em;
    right: 0;
    font-size: .8em;
    color: #83abb7;
}
.rendered_html ul:not(.list-inline),
.rendered_html ol:not(.list-inline) {
    padding-left: 0;
}
